.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

@media (max-width: 767px) {
  .desktop-only { display: none; }
}
@media (min-width: 768px) {
  .mobile-only { display: none; }
}

